fastapi
fastapi-utils
uvicorn[standard]
typing-extensions
pydantic==2.3.0
pydantic-settings
dependency-injector
tensorflow
numpy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pymongo
weaviate-client
motor
aioredis
celery
redis
python-dotenv
nltk
colorama
scikit_learn